<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
        var postsHREF = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
        var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
    </script>  
   </head>
  
  <body>
    <script type="text/javascript">
        var randomIndexUsed = [];
        var counter = 0;
        var numberOfPosts = 1;

        while (counter < numberOfPosts)
        {
            var randomIndex;
            var postHREF;
            var postTitle;
            randomIndex = Math.floor(Math.random() * postsHREF.length);

            if (randomIndexUsed.indexOf(randomIndex) == "-1")
            {
                postHREF = postsHREF[randomIndex];
                postTitle = postsTitle[randomIndex];

                randomIndexUsed.push(randomIndex);
                counter++;
              return postHREF
            }
        }
    
    </script>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      <a href="https://twitter.com/intent/tweet?screen_name=what_two_do&ref_src=twsrc%5Etfw"
        class="twitter-mention-button"
        data-size="large"
        data-text="Gerade die Challenge "{{post.title}}" absolviert! So ist #StayAtHome kein Problem :)"
        data-lang="de"
        data-show-count="false">Tweet to @what_two_do</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
