---
layout: post
title: Test
---

<head>
  <script>
      let router;
      if(window.location.host.includes("localhost")) router =  "/router.html";
      else router = "/what-to-do/router.html"
  </script>
</head>
<p><button type="button" class="block" onCLick="window.location.assign(router + window.location.hash)">Next</button></p>

{{ content }}

<p><button type="button" class="block" onCLick="window.location.assign(router + window.location.hash)">Next</button></p>

<style>
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
</style>
